<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1574894078563-01e879b89809?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTF8fGNpbmVtYXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60;")>
<h1><%= @list.name %></h1>
</div>
<div class="container">
<p></p>
<div class="show-body">
<strong><% @list.bookmarks.each do |bookmark| %>
  <%= bookmark.movie.title %></h5></strong>
  <p></p>
  <%= bookmark.movie.overview %></p>
  <p>---------------------</p>
  <p><em><%= "'#{bookmark.comment}'" %></em></p>
  <p><strong><%= "Rating: #{bookmark.movie.rating}" %></strong></p>
<%= link_to "Delete movie", bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
<p>
<%= link_to "Add a movie", new_list_bookmark_path(@list) %>
</p>
<%= link_to "Back to all Lists", lists_path %>
</div>
</div>
